%h4= @build.title
%p
  Tags:
  %strong= raw @build.tags.map(&:name).map { |t| link_to t, tagname_path(t) }.join(' ')
%p
  Description:
  =@build.description

%p= link_to 'Edit', edit_build_path(@build)
