.jumbotron
  %h1 Got a swell drone?
  %h4 Tell the others how you built it!
  = link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-lg'
.row
  .col-sm-4 Awesome feature one
  .col-sm-4 Awesome feature two
  .col-sm-4 Awesome feature three
