= provide(:title, 'Welcome')
.jumbotron
  %h1= t('.jumbotitle')
  %h4= t('.jumbosubtitle')
  = link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-lg'
.row
  .col-sm-4 Awesome feature one
  .col-sm-4 Awesome feature two
  .col-sm-4 Awesome feature three
