# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 46b367166b19f7696bb6b35b4ce868bd52d575aa92c241797f1d250d1cd1be03d471103d4fbc58de6c5bc48a3483f3e82e03a50b759bbaa50daef90945bf74f9

test:
  secret_key_base: 5f50aa91695d37436932de00c42b9ec3ad9ba681c7fefd1fe8b4511c67b4475e35313a942991bcea0b5927f998e5455a6804b3418364ed645bb5661d27e83255

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
